*.avi
*.mat
!theta_taylor.mat
!barmesh1.mat
!barmesh2.mat
!barmesh3.mat
!barmesh4.mat
!barmesh5.mat
!barmesh6.mat
!barmesh7.mat
!barmesh8.mat
!barmesh9.mat
!barmesh10.mat
!horsemesh1.mat
!horsemesh2.mat
!horsemesh3.mat
!horsemesh4.mat
!horsemesh5.mat
!horsemesh6.mat
!horsemesh7.mat
!horsemesh8.mat
!horsemesh9.mat
!horsemesh10.mat
!horsemesh11.mat
!horsemesh12.mat
!bunnymesh1.mat
!bunnymesh2.mat
!bunnymesh3.mat
!armadillo.mat
!coarsearmadillo.mat

*.asv
*.jpg
*.fig
*.ply
*.obj
*.png
*.fig
*.pdf
sim_data/
media_data/
result_data/
ext/gptoolbox/
*.m4v
!mesh_data/triangle_maxA_1e-02.mat
*.mp4
octopus_eigenmodes/
